@using ComX_0._0._2.Helpers
@model IEnumerable<ComX_0._0._2.Views.Articles.Models.DtoModels.IndexModelDto>
    @{
        var articleHelper = new ArticleHelper();
        var userHelper = new UserHelper();
        var generalHelper = new GeneralHelper();
        var articles = Model.Where(x => x.IsDiary == false).OrderByDescending(x => x.DateCreation).ToList();
        var diaries = Model.Where(x => x.IsDiary).OrderByDescending(x => x.DateCreation).ToList();
    }
<div class="slidersContainer">
    <div class="slider-progress">
        <div class="progress"></div>
    </div>
    <div class="sliderOne">
        @foreach (var item in articles) {
            <div class="slideElementUpper">
                <a href="@HttpUtility.UrlDecode(Url.Action("Details", "Articles", new {@id = generalHelper.RemoveSpecialCharsFromString(item.Name)}))">
                    <div class="sliderLink">
                        <div class="bannerPanelInfo">
                            @if (item.Series != Guid.Empty && articleHelper.GetSeriesById(item.Series.Value).Name != "Default") {
                                <h3 class="bannerSeriesTitle">@articleHelper.GetSeriesById(item.Series.Value).Name</h3>
                            }
                            <h2 class="bannerArticleName">@item.Name</h2>
                            <hr class="articlesIndexLine"/>
                            <div class="datesDetailsArticles">
                                <p>
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> @userHelper.GetUserById(item.UserId.Value).UserName &nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-time" aria-hidden="true"></span> @item.DateCreation &nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> @articleHelper.GetCategoryById(item.Categories.Value).Name,
                                    @articleHelper.GetSubCategoryById(item.SubCategories.Value).Name
                                </p>
                            </div>
                        </div>
                        <div class="imageOverlayColorDiary"></div>
                        <div class="bannerPanelImageContainer">
                            <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))'/>
                        </div>
                        <div class="bannerPanelImageMainSlider">
                            <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))'/>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
<div class="sliderSection">
    @foreach (var item in articles)
    {
        <div class="slideElementDown">
            @*<img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))' />*@
            <div class="articlesIndexSingleImage" style="width: 100%;">
                <div class="bannerPanelImageContainerIndex">
                    <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))' />
                </div>
                <div class="bannerPanelInfoIndex bannerPanelInfoIndexTopNavigation">
                    <h3 class="bannerArticleNameIndexTopMenu">@item.Name</h3>
                    <hr class="articlesIndexLine articlesIndexLineSliderRight" />
                </div>
            </div>
        </div>
    }
</div>
@*<div class="indexDiaryContainer">
    <div class="indexLastDiariesContainer">
        <div class="indexDiaryListHeader">
            <h3>Z PAMIĘTNIKA PŁYTOHOLIKA:</h3>
            <hr class="indexDiaryLine"/>
        </div>
        <ul class="indexDiaryList">
            @foreach (var item in diaries) {
                <div class="indexSingleArticleContainerDiary col-sm-12" style="height: 6em; padding-left: 0; padding-right: 0;">
                    <a class="indexSingleDiaryAnchor" href="@HttpUtility.UrlDecode(Url.Action("Details", "Articles", new {@id = generalHelper.RemoveSpecialCharsFromString(item.Name), @isDiary = true}))">
                        <div>
                            <h4 class="indexDiaryName"># @item.Name</h4>
                        </div>
                        <div class="bannerPanelImageContainerIndex">
                            <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))'/>
                        </div>
                        <div class="imageOverlayColorDiary"></div>
                    </a>
                </div>
            }
        </ul>
        <div class="moreMusicReviews moreDiaries">
            <a class="seeMoreReviewsFromIndex seeMoreDiaries" href="@Url.Action("Diary", "Articles")">
                <p>Przejdź do pamiętnika <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></p>
            </a>
        </div>
    </div>
</div>*@

@*SCRIPTS FOR VIEW*@
<script type="text/javascript" src="~/Views/Shared/Scripts/SharedIndexSlider.js"></script>
<link href="~/Views/Shared/Styles/_IndexSlider.css" rel="stylesheet" type="text/css"/>