@using ComX_0._0._2.Helpers
@model ComX_0._0._2.Models.Articles
    @{
        var articleHelper = new ArticleHelper();
        var userHelper = new UserHelper();
        var generalHelper = new GeneralHelper();
        var lastArticles = articleHelper.GetLastArticles(6);
    }
<div class="sliderOne" style="background-color: #222; width: 100%; margin: 0 auto; font-family: 'Amarante', sans-serif; color: white;">
        @foreach (var item in lastArticles)
        {
            <div class="slideElementUpper" style="height: 25em; display: block;">
                <a href="@HttpUtility.UrlDecode(Url.Action("Details", "Articles", new {@id = generalHelper.RemoveSpecialCharsFromString(item.Name)}))">
                    <div class="sliderLink" style="height: 100%">
                        <div class="sliderLeft" style="background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(34, 34, 34, 0.5)); position: absolute; z-index: 1; width: 25%; height: 100%; padding-left: 1em; padding-right: 1em; padding-top: 1em; z-index: 4;">
                            <div class="sliderArticleDate">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span> @item.DateCreated
                            </div>
                            <div class="sliderArticleCategories" style="display: inline; float: left;">
                                <p><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> @articleHelper.GetCategoryById(item.CategoryId).Name,
                                    @articleHelper.GetSubCategoryById(item.SubCategoryId).Name</p>
                            </div>
                            <div class="sliderArticleAuthor" style="float: right;">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> @userHelper.GetUserById(item.UserId).UserName
                            </div>
                            @if (item.Series != Guid.Empty && articleHelper.GetSeriesById(item.Series).Name != "Default") {
                                <div class="sliderArticleSeries" style="float: left; width: 100%;">
                                    <h4 style="background-color: #2B823C; color: black;">@articleHelper.GetSeriesById(item.Series).Name</h4>
                                </div>
                            }
                            <div class="sliderArticleTitle" style="float: left; width: 100%;">
                                <h2 style="margin-top: 0;">@item.Name</h2>
                            </div>
                        </div>
                        @*<div class="sliderCenter" style="z-index: 0; position: relative; height: 100%; width: 100%;">
                            <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))' style="width: auto; max-width: 100%; height: 100%; text-align: center; margin: 0 auto;"/>
                        </div>*@
                        <div class="imageOverlayColor" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(0, 0, 0, 0.6); z-index: 2;"></div>
                        <div class="bannerPanelImageContainer" style="width: 100%; height: 100%; text-align: center; margin: 0 auto; background-color: black; z-index: 1; overflow: hidden;">
                            <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))' style="width: 100%; text-align: center; margin: 0 auto; z-index: 0; vertical-align: middle;" />
                        </div>
                        <div class="bannerPanelImageMain" style="width: 100%; height: 100%; text-align: center; margin: 0 auto; z-index: 3; overflow: hidden; position: absolute; top: 0;">
                            <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))' style="height:100%; text-align: center; margin: 0 auto; z-index: 0; vertical-align: middle;" />
                        </div>
                    </div>
                </a>
                @*<div class="sliderRight" style="background: linear-gradient(to left, rgba(0, 0, 0, 0.9), rgba(34, 34, 34, 0.5)); position: absolute; top: 0; right: 0; width: 25%; height: 100%; padding-left: 1em; padding-right: 1em; text-align: justify; text-indent: 0.9em; padding-top: 1em; padding-bottom: 1em; z-index: 3;">
                    <div class="sliderArticlePrelude">
                        @Html.Raw(WebUtility.HtmlDecode(item.Prelude))
                    </div>
                </div>*@
            </div>
                }
</div>
<div class="sliderSection" style="background-color: #222; width: 100%; margin: 0 auto;">
    @foreach (var item in lastArticles)
    {
        <div class="slideElementDown" style="height:10em;">
            <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))' style="width:auto; height: 100%; text-align: center; margin: 0 auto;" />
            @*<div>@item.Name</div>*@
        </div>
    }
</div>


<script>
    jQuery(document).ready(function ($) {
        //SLICK SLIDER
        $('.sliderOne').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.sliderSection'
        });
        $(".sliderSection").slick({
            dots: true,
            infinite: true,
            centerMode: true,
            asNavFor: '.sliderOne',
            slidesToShow: 3,
            autoplay: true,
            autoplaySpeed: 7000,
            focusOnSelect: true,
            slidesToScroll: 2,
            variableWidth: true,
            draggable: false,
            responsive: [
    {
        breakpoint: 1024,
        settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
        }
    },
    {
        breakpoint: 600,
        settings: {
            slidesToShow: 2,
            slidesToScroll: 2
        }
    },
    {
        breakpoint: 480,
        settings: {
            slidesToShow: 1,
            slidesToScroll: 1
        }
    }
        ]
        });

        //$('.sliderSection').on('afterChange', function (slick, currentSlide) {
        //    console.log(currentSlide);
        //    currentSlide.css("border-top", "#2B823C");
        //    currentSlide.css("border-bottom", "#2B823C");
        //});

        //var currentSlide = $('.sliderSection').slick('slickCurrentSlide');
        //currentSlide.style.borderTop = "#2B823C";
        //currentSlide.style.borderBottom = "#2B823C";
        //SCROLL
        //$('.sliderRight').slimScroll({
        //    height: '250px'
        //});
    });
</script>