@using System.Web.Optimization
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    string currentUrl = Request.Url?.AbsoluteUri;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/coreStyles")
    @Scripts.Render("~/scripts/coreScripts")
    @Styles.Render("~/Content/customStyles")
    @Scripts.Render("~/scripts/customScripts")
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/Content/favNp.ico")"/>
    <link href='http://fonts.googleapis.com/css?family=Amarante&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Coda&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Krona+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Eater" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    @*TUTEJ SIE SKRYPTY ZACZYNAJOM*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <meta name="description" content="@ViewBag.Description"/>
    <meta name="og:image" content="@ViewBag.MetaImage"/>
</head>
<body>
@*<div id="loadingOverlay">
    <div class="loadingOverlayElementsContainer">
        <img class="loadingOverlayGif" src="~/Content/images/ring.gif" alt="Loading" />
        <img class="loadingOverlayLogo" src="~/Content/images/logoLogo.png" alt="Loading" />
    </div>
</div>*@
<div class="bodyContent">
    <div class="mainNavigatorContainer">
        <div class="mainNavigatorName">
            <h3>NAWIGUJ:</h3>
        </div>
        <div class="mainNavigatorContainerAllItems">
        </div>
        <div class="mainNavigatorName mainNavigatorHide">
            <h3><< SCHOWAJ:</h3>
        </div>
    </div>
    <div class="mainNavigatorContainerShow">
        <h3>NAWIGUJ:</h3>
    </div>
    <div class="topMainElementsContainer container">
        @Html.Partial("_TopLogoPanel")
        @if (!currentUrl.Contains("Configuration")) {
            <div class="containerTop container">
                @Html.Action("_TopNavigationMenu", "Articles")
            </div>
        }
    </div>
    <div class="elementsToPush">
        @if (currentUrl.EndsWith("localhost:56314/") || currentUrl.EndsWith("nekroplaza.pl/")) {
            <div class="sliderLatestIndexContainer">
                <div class="containerMiddle">
                    @Html.Action("_IndexSlider", "Articles")
                </div>
            </div>
        }
        <div class="container body-content bodyLayout">
            @RenderBody()
            <div class="push"></div>
        </div>
    </div>
    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    @Html.Partial("_Footer")
</div>
</body>
</html>
<script>
    //$(window).on('load', function () {
    //    $('#loadingOverlay').fadeOut("slow");
    //});

    $('#return-to-top').click(function() { // When arrow is clicked
        $('body,html').animate({
            scrollTop: 0 // Scroll to top of body
        }, 500);
    });
</script>
