@using System.Web.Optimization
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    string currentUrl = Request.Url?.AbsoluteUri;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/coreStyles")
    @Scripts.Render("~/scripts/coreScripts")
    @Styles.Render("~/Content/customStyles")
    @Scripts.Render("~/scripts/customScripts")
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/Content/favNp.ico")"/>
    <link href='http://fonts.googleapis.com/css?family=Amarante&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Coda&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Krona+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Eater" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    @*TUTEJ SIE SKRYPTY ZACZYNAJOM*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <meta name="description" content="@ViewBag.Description"/>
    <meta name="og:image" content="@ViewBag.MetaImage"/>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="78.75">
@*<div id="loadingOverlay">
    <div class="loadingOverlayElementsContainer">
        <img class="loadingOverlayGif" src="~/Content/images/ring.gif" alt="Loading" />
        <img class="loadingOverlayLogo" src="~/Content/images/logoNew17.png" alt="Loading" />
    </div>
</div>*@
<div class="bodyContent">
    <div class="topMainElementsContainer col-sm-10 col-xs-12">
        @Html.Action("_TopNavigationMenu", "Articles")
    </div>
    <div class="nekroPanel col-sm-2" id="nekroPanel">
        <div class="mainSideBar">
            @Html.Action("_SideBar", "Articles", new {number = 6})
        </div>
    </div>
    <div class="elementsToPush col-sm-10 col-xs-12">
        @if (currentUrl.EndsWith("localhost:56314/") || currentUrl.EndsWith("nekroplaza.pl/")) {
            <div class="sliderLatestIndexContainer">
                <div class="containerMiddle">
                    @Html.Action("_IndexSlider", "Articles")
                </div>
            </div>
        }
        <div class="body-content bodyLayout">
            @RenderBody()
            <div class="push"></div>
        </div>
    </div>
    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    <footer class="bottomFooter" id="bottomFooter">
        <p>&copy; @DateTime.Now.Year - Zero Fucks Given by NEKRO</p>
    </footer>
</div>
</body>
</html>
<script>
    var config = {
        LoadingOverlay: "loadingOverlay",
        ScrollTopArrow: "return-to-top",
        NekroPanel: "nekroPanel",
        IndexFooter: "bottomFooter"
    };
    new SharedLayout(config);
</script>
