<div class="navbar navbar-inverse navbar-fixed-top topFooter">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="titleBar">
                @Html.ActionLink("Future Nekroplaza", "Index", "Articles", new {area = ""}, new {@class = "navbar-brand", @style = "color:red;font-family:\'Walk This Way\';font-size:5em;"})
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                @if (!string.IsNullOrEmpty(User.Identity.Name)) {
                    <li>
                        @Html.ActionLink("Hello " + Membership.GetUser(User.Identity.Name, true) + "!", "Index", "Articles", null, new {title = "Manage account of yours"})
                    </li>
                    <li>
                        @Html.ActionLink("ChangePassword", "ChangePassword", "Account", new {area = ""}, new {@class = "navbar-brand"})
                    </li>
                    <li>
                        @Html.ActionLink("Log off", "LogOff", "Account", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                }
                else {
                    <li>
                        @Html.ActionLink("LogIn", "LogOn", "Account", new {area = ""}, new {@class = "navbar-brand"})
                        @Html.ActionLink("Register", "Register", "Account", new {area = ""}, new {@class = "navbar-brand"})
                    </li>
                }
            </ul>
        </div>
    </div>
</div>