<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Future Nekroplaza", "Index", "Articles", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Articles", "Index", "Articles", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("LogIn", "LogOn", "Account", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { @class = "navbar-brand" })
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (!string.IsNullOrEmpty(User.Identity.Name))
                {
                    <li>
                        @Html.ActionLink("Hello " + Membership.GetUser(User.Identity.Name, true) + "!", "Index", "Articles", routeValues: null, htmlAttributes: new { title = "Manage account of yours" })
                    </li>
                        <li>
                            @Html.ActionLink("ChangePassword", "ChangePassword", "Account", new { area = "" }, new { @class = "navbar-brand" })
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                }
            </ul>
        </div>
    </div>
</div>
