@using ComX_0._0._2.Helpers
@using Microsoft.AspNet.Identity
@{
    UserHelper userHelper = new UserHelper();
    GeneralHelper generalHelper = new GeneralHelper();
    var currentUrl = generalHelper.GetCurrentPageUrl();
}
<div class="container logoSection">
    <div class="logo">
        <a href="@Url.Action("Index", "Articles")">
            <img src='~/Content/images/npLogosBeta.png'/>
        </a>
    </div>
    <div class="rightLogoPanel">
        <ul class="logoMenu">
            @if (userHelper.IsAdminUser(User)) {
                <li>
                    @Html.ActionLink("Konfiguracja", "Articles", "Configuration", new {area = ""}, new {@class = "navbar-brand"})
                </li>
            }
            @if (Request.IsAuthenticated) {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-brand", @style = "float:none !important; padding-top: 1.5em;"})) {
                    @Html.AntiForgeryToken()
                    <li>
                        @Html.ActionLink("Witojcie, " + User.Identity.GetUserName() + "!", "UserPanel", "Account", routeValues: null, htmlAttributes: new {title = "Manage"})
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                }
            }
            else {
                <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink", @class = "navbar-brand"})</li>
                <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new {returnUrl = currentUrl, @class = "navbar-brand"})</li>
            }
        </ul>
    </div>
</div>

@*SCRIPTS FOR VIEW*@
<link href="~/Views/Shared/Styles/_TopLogoPanel.css" rel="stylesheet" type="text/css" />

