@using ComX_0._0._2.Helpers
@model ComX_0._0._2.Models.DtoModels.UserProfile
@{
    ViewBag.Title = "User Panel";
    var userHelper = new UserHelper();

    var str = "";
    if (Model.IsBlocked)
    {
        str = "Unblock user";
    }
    else {
        str = "Block user";
    }
}

<div class="userPanelContainer col-md-12">
    <div class="greetUserPanel" style="float: left;">
        <h2>Witojcie, @Model.UserName!!!</h2>
    </div>
    <div class="buttons" style="float: right; margin-top: 1em;">
        <button type="button" class="btn btn-default .btn-sm" onclick="location.href = '@Url.Action("Index", "Articles")'">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" style="font-size: 1.1em"></span>DO GÓRY
        </button>
    </div>
    <div class="infoUserPanel" style="padding-top: 1em; padding-bottom: 1em; width: 100%; clear: both;">
        <p>Zarejestrowany od: @Model.DateOfCreation.ToShortDateString()</p>
        <p>Rangi: @userHelper.GetRoleNamesByUserId(Model.UserId)</p>
        @if (!Model.AccoutConfirmed) {
            <h3 style="color: red">Nie potwierdziłeś rejestracji linkiem z mejla!</h3>
            <p>Nie dostałeś mejla? Kliknij @Html.ActionLink("TUTEJ", "SendConfirmationMail", new {userId = Model.UserId, userMail = Model.UserMail})</p>
        }
    </div>
    @if (Model.UserAvatar == null) {
        <h4>Dodaj sobie awatar!</h4>
        <p>Info:</p>
        <p>Abyśmy sobie nie utrudniali życia - jest kilka warunków, które taki awatar spełnić musi, a są to kolejno:</p>
        <p>- musi mieć rozszerzenie .jpg albo .png albo i .gif</p>
        <p>- najlepiej, żeby miał rozmiar do... powiedzmy 80kb, żeby nie śmiecił.</p>
        using (Html.BeginForm("AddAvatar", "Account", FormMethod.Post,
            new {enctype = "multipart/form-data"})) {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <hr/>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.Label("Załaduj fotę", new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        <input type="file" id="imgUp" name="avatar" accept=".gif, .jpg, .png"/>
                    </div>
                    @Html.ValidationMessage("ImageUpload", new {@style = "color: red"})
                    @Html.ValidationSummary(true)
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Upload" class="btn btn-default"/>
                    </div>
                </div>
            </div>
        }
    }
    else {
        <div class="userPanelAvatarSection col-md-6">
            <div class="col-md-12" style="padding-bottom: 1em;">
                <p>Twój aktualny awatar wygląda tak:</p>
                <img src='@Url.Action("GetAvatar", "Account", new {userId = Model.UserId})' style="max-width: 50%; text-align: center; margin: 0 auto;"/>
            </div>
            <div class="col-md-12" style="padding-bottom: 1em;">
                <button type="button" class="btn btn-danger btn-m popupUserDelete" data-id="@Model.UserId" href="#popupAvatarDelete">
                    <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> Usuń awatara
                </button>
            </div>
        </div>
    }
    <div class="userPanelOthersSection col-md-6">
        Jeśli Ci życie miłe, możesz @Html.ActionLink("zmienić hasło tutej.", "ChangePassword", "Manage")
    </div>
    @if (userHelper.IsAdminUser(User)) {
        <div class="userPanelAdministratorSection col-md-12">
            <p>Aktualne rangi usera: @userHelper.GetRoleNamesByUserId(Model.UserId)</p>
            @if (userHelper.GetRolesByUserId(Model.UserId).Count > 1) {
                <button type="button" class="btn btn-danger .btn-sm" onclick="location.href = '@Url.Action("DegradeUser", "Account", new {@userId = Model.UserId})'">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" style="font-size: 1.1em"></span>Zdegraduj do usera
                </button>
            }
            @using (Html.BeginForm("ChangeRole", "Account")) {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    <div class="form-group">
                        @Html.LabelFor(model => model.Roles, htmlAttributes: new {@class = "control-label col-md-1"})
                        <div class="col-lg-11 col-md-offset-1">
                            @Html.DropDownListFor(x => x.Roles, new List<SelectListItem>(ViewBag.RoleList), new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Roles, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.UserId)
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" value="Change" class="btn btn-default"/>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-offset-2 col-md-12" style="margin: 0 auto; text-align: center;">
            <button type="button" class="btn btn-warning btn-m popupUserBlock" data-id="@Model.UserId" href="#popupUserBlock">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>@str
            </button>
            <button type="button" class="btn btn-danger btn-m popupUserDelete" data-id="@Model.UserId" href="#popupUserDelete">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> Delete user
            </button>
        </div>

        <div id="popupUserDelete" class="mfp-hide white-popup">
            <p>Potwierdź</p>
            <hr/>
            <p>Czy na bank chcesz usunąć tego użytkownika? (użytkownik będzie wypierdolony z bazy!)</p>
            <button type="button" class="btn btn-danger .btn-sm btnConfirmDeletion" id="commId">
                Ta!
            </button>
            <button type="button" class="btn btn-info .btn-sm btnCancelDeletion">Nope!</button>
        </div>

        <div id="popupUserBlock" class="mfp-hide white-popup">
            <p>Potwierdź</p>
            <hr/>
            <p>Czy na bank chcesz zablokować tego użytkownika?</p>
            <button type="button" class="btn btn-danger .btn-sm btnConfirmDeletion" id="commId">
                Ta!
            </button>
            <button type="button" class="btn btn-info .btn-sm btnCancelDeletion">Nope!</button>
        </div>

        <div id="popupAvatarDelete" class="mfp-hide white-popup">
            <p>Potwierdź</p>
            <hr/>
            <p>Jesteś aby pewien, że życzeniem Twym jest usunięcie obecnego awatara?</p>
            <button type="button" class="btn btn-danger .btn-sm btnConfirmDeletionAvatar" id="commId">
                Ta!
            </button>
            <button type="button" class="btn btn-info .btn-sm btnCancelDeletion">Nope!</button>
        </div>
    }
    <p style="width: 100%; margin: 0 auto; text-align: center; clear: both; color: #C5C8C9;">...the horror...the horror...</p>
</div>

@*SCRIPTS FOR VIEW*@
<script type="text/javascript" src="~/Views/Articles/Scripts/AccountUserPanel.js"></script>
        <style>
            .white-popup {
                position: relative;
                background: #FFF;
                padding: 40px;
                width: auto;
                max-width: 400px;
                margin: 20px auto;
                text-align: center;
            }
        </style>

