@using ComX_0._0._2.Helpers
@model ComX_0._0._2.Models.Users
@{
    ViewBag.Title = "User Panel";
    var userHelper = new UserHelper();
}

<div class="userPanelContainer col-md-12">
    <div class="greetUserPanel">
        <h2>Witojcie, @Model.UserName!!!</h2>
    </div>
    <div class="infoUserPanel">
        <b>Zarejestrowany od: @Model.DateOfCreation.Value.ToShortDateString()</b>
    </div>
    @if (Model.Avatar == null) {
        using (Html.BeginForm("AddAvatar", "Account", FormMethod.Post,
            new {enctype = "multipart/form-data"})) {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <hr/>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.Label("Upload image", new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        <input type="file" id="imgUp" name="avatar"/>
                    </div>
                    @*@Html.ValidationMessage("ImageUpload", new {@style = "color: red"})*@
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Upload" class="btn btn-default"/>
                    </div>
                </div>
            </div>
        }
    }
    else {
        <img src='@Url.Action("GetAvatar", "Account", new {userId = Model.Id})' style="max-width: 30%; text-align: center; margin: 0 auto;" />
    }
    @using (Html.BeginForm("ChangeRole","Account")) {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                @Html.LabelFor(model => model.UserRoles, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-lg-10">
                    @Html.DropDownListFor(model => model.UserRoles, new List<SelectListItem>(ViewBag.RoleList), new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.UserRoles, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Change" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
        </div>
