@using ComX_0._0._2.Helpers
@model ComX_0._0._2.Models.Comments
@{
    var articleHelper = new ArticleHelper();
    var userHelper = new UserHelper();
    var commentList = articleHelper.GetCommentsByArticle(new Guid(Request.Params["Id"]));
}
<div class="commentSection">
    @if (!string.IsNullOrEmpty(User.Identity.Name)) {
        using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
            <div class="newCommentSection" style="text-align: center; margin: 0 auto;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-10 center-block" style="display: inline-block; margin: 0 auto; text-align: center;float:none">
                            @Html.Custom_DivFor(model => model.Body, "form-control articleEditorTextArea")
                            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" onclick="location.href = '@Url.Action("_Comments", "Articles")'" />
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <hr/>
    @foreach (var item in commentList) {
        <div class="singleCommentSection" style="width: 100%; min-height: 5em;">
            <div class="col-xs-2 commentFooter" style="border-right:solid black 1px">
                <p>@userHelper.GetUserById(item.UserId).UserName</p>
                <p>Date added: <br/> @item.DateOfCreation.ToString()</p>
            </div>
            <div class="col-xs-10 commentBody">
                <p>@Html.Raw(WebUtility.HtmlDecode(item.Body))</p>
            </div>
            </div>
        <hr/>
    }
</div>

<script>
    $('.articleEditorTextArea').trumbowyg();
</script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>