@using ComX_0._0._2.Helpers
@model IEnumerable<ComX_0._0._2.Views.Articles.Models.Articles>
@{
    Layout = "~/Views/Articles/_Articles.cshtml";
    ArticleHelper articleHelper = new ArticleHelper();
    GeneralHelper generalHelper = new GeneralHelper();
    var catId = ViewBag.CategoryIdentificator;
    var category = articleHelper.GetCategoryById(catId);
    UserHelper userHelper = new UserHelper();
    ViewBag.Title = string.Format("{0} - NekroPlaza - doświadcz dobroci", category.Name);
}

<div class="categoryArticleTitle">
    <h2>Posty z kategorii @category.Name:</h2>
</div>
@if (Model.Any()){
    <div class="articlesIndexContainer">
        <ul class="content articlesCategoryTable">
            @foreach (var item in Model){
                <div class="articlesIndexSingle">
                    <a class="singleIndexAnchor" href="@HttpUtility.UrlDecode(Url.Action("Details", "Articles", new {@id = generalHelper.RemoveSpecialCharsFromString(item.Name)}))">
                        @if (articleHelper.GetImageByArticleId(item.Id) != null)
                        {
                            <div class="articlesIndexSingleImage">
                                <div class="bannerPanelImageContainer">
                                    <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))'/>
                                </div>
                                <div class="bannerPanelImageMain">
                                    <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))'/>
                                </div>
                                <div class="imageOverlayColor"></div>
                            </div>
                        }
                    </a>
                    <div class="articlesIndexSingleBody">
                        <div class="indexArticleTitle">
                            <div class="indexArticleTitleTopSection">
                                <div class="articlesIndexSingleCategories">
                                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> @articleHelper.GetCategoryById(item.CategoryId).Name,
                                    @articleHelper.GetSubCategoryById(item.SubCategoryId).Name
                                </div>
                                <div class="articlesIndexSingleDate">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> @item.DateCreated.ToShortDateString()
                                </div>
                            </div>
                            <h4 class="articlesIndexName">@item.Name</h4>
                        </div>
                        <hr class="indexAlternativeViewLine"/>
                        <div class="articleIndexSingleText">
                            <div class="indexArticleBody">
                                <p>@Html.Raw(WebUtility.HtmlDecode(item.Prelude))</p>
                            </div>
                        </div>
                        <div class="articlesIndexSingleFooter">
                            <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @userHelper.GetUserById(item.UserId).UserName</p>
                        </div>
                    </div>
                </div>
            }
        </ul>
    </div>
}
else {
    <div class="noItemsInCategorySection">
        <h3>:( <br/>Nie bój, nie bój, jeszcze żadnych dobroci tu nie ma. Pewnikiem będą niebawem.</h3>
    </div>
}

@*SCRIPTS FOR VIEW*@
<script type="text/javascript" src="~/Views/Articles/Scripts/ArticlesCategories.js"></script>
<link href="~/Views/Articles/Styles/Categories.css" rel="stylesheet" type="text/css" />
