@using ComX_0._0._2.Helpers
@model ComX_0._0._2.Models.Comments
@{
    Layout = "~/Views/Articles/_Articles.cshtml";
    ViewBag.Title = "Rozedytuj swój (słaby) komentarz - NEKROPLAZA";
    UserHelper userHelper = new UserHelper();
    ArticleHelper articleHelper = new ArticleHelper();
    GeneralHelper generalHelper = new GeneralHelper();
}
@if (Model.UserId == userHelper.GetCurrentLoggedUserId() || userHelper.UserIsAdmin(userHelper.GetCurrentLoggedUserId())) {
    using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="newCommentSection">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12 center-block" style="display: inline-block;">
                        @Html.Custom_DivFor(model => model.Body, "form-control comEditorTextArea")
                        @Html.ValidationMessageFor(model => model.Body, "", new {@class = "text-danger"})
                    </div>
                </div>
                @Html.ValidationMessage("EmptyComment", new {@style = "color: red"})
                @Html.ValidationMessage("TwoComments", new {@style = "color: red"})
                @Html.HiddenFor(model => model.ArticleId)
                <div class="form-group">
                    <div style="padding-left: 2.2em;">
                        <button type="submit" class="btn btn-info submitEditCommentForm">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Dodaj komentarz!
                        </button>
                        <button type="button" onclick="location.href = '@HttpUtility.UrlDecode(Url.Action("Details", "Articles", new {@id = generalHelper.RemoveSpecialCharsFromString(articleHelper.GetArticleById(Model.ArticleId).Name)}))'" data-artId="@generalHelper.RemoveSpecialCharsFromString(articleHelper.GetArticleById(Model.ArticleId).Name)'" class="btn btn-danger .btn-sm btnCancelEdit">Anuluj</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
else {
    @Html.Partial("_HumanumErrareEst");
}
<script>
    jQuery(document).ready(function ($) {
        var preludeValue = $('#Body').attr('value');
        var decodedPrelude = $('<textarea/>').html(preludeValue).text();
        $('.comEditorTextArea').trumbowyg();
        $('.comEditorTextArea').trumbowyg('html', decodedPrelude);

        @*$('.btnCancelEdit').click(function () {
            var articleIdentificator = $(this).data('artid').toString();
            window.location.href = '@Url.Action("Details", "Articles")/' + articleIdentificator;
        });*@
    });
</script>