@model ComX_0._0._2.Views.Articles.Models.DtoModels.DocumentModelDto

@{
    ViewBag.Title = "Delete";
}

<h3>Zaraz usuniesz dokument wpizdu, możesz tego żałować!</h3>
<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
    <button type="button" class="btn btn-danger btn-sm" onclick="location.href = '@Url.Action("DeleteConfirmed", "Articles", new {Id = Model.Id, isDiary = Model.IsDiary})'">
        <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>DELETE
    </button>
</div>

@*SCRIPTS FOR VIEW*@
<script type="text/javascript" src="~/Views/Articles/Scripts/ArticlesDelete.js"></script>
