@using System.Text.RegularExpressions
@using ComX_0._0._2.Helpers
@using React.AspNet
@model ComX_0._0._2.Views.Articles.Models.DtoModels.ArticleDto

@{
    Layout = "~/Views/Articles/_Articles.cshtml";
    var articleHelper = new ArticleHelper();
    var userHelper = new UserHelper();
    bool isDiary = Model.IsDiary;

    ViewBag.MetaImage = articleHelper.GetImageAbsolutePathByArticleId(Model.Id.Value);
    if (!isDiary) {
        ViewBag.Title = @Model.Name + " || " + @Model.Category + " || NekroPlaza";
        ViewBag.Description = Regex.Replace(WebUtility.HtmlDecode(@Model.IndexDescription), "<(.|\\n)*?>", string.Empty);
    }
    else {
        var diaryName = Model.Name.Split('?').First();
        ViewBag.Title = diaryName + " || Z pamiętnika płytoholika || NekroPlaza";
    }
    bool AdminPanel = userHelper.IsSuperAdminUser(User) || (userHelper.IsAdminUser(User) && new Guid(userHelper.GetUserByName(Model.UserName).Id) == userHelper.GetCurrentLoggedUserId());
}
@Html.React("Details", new {model = Model, admin = AdminPanel, decodedBody = Html.Raw(WebUtility.HtmlDecode(Model.Body)).ToString() })
@if (!isDiary) {
    @Html.Action("_LastFromCategory", new {categoryName = Model.Category, articleId = Model.Id})
}
@Html.Action("_Comments", new {articleId = Model.Id, diary = isDiary})
<div id="fb-root"></div>