@using ComX_0._0._2.Helpers
@model IEnumerable<ComX_0._0._2.Models.Articles>

@{
    ViewBag.Title = "NekroPlaza - doświadcz dobroci";
    ViewBag.Description = "Najnowsze smakowitości, dobrocie najbardziej trendy, kontrowersje, wybuchy atomowych laserów i nieumarli - NEKROPLAZA.PL - zakosztuj dobroci.";
    var articleHelper = new ArticleHelper();
    var userHelper = new UserHelper();
    var generalHelper = new GeneralHelper();
}

<div id="pager" style="width: 100%;">
    <div class="articlesIndexContainer" style="width: 69%; float: left;">
        <ul class="content" style="padding-left: 0; margin-left: 0;">
            @foreach (var item in Model)
            {
                <div class="articlesIndexSingle" style="border-top: #222 0.5em solid; height: 15em; margin-bottom: 1em; font-family: 'Amarante', sans-serif;">
                    <a class="singleIndexAnchor" href="@HttpUtility.UrlDecode(Url.Action("Details", "Articles", new {@id = generalHelper.RemoveSpecialCharsFromString(item.Name)}))">
                        @if (articleHelper.GetImageByArticleId(item.Id) != null)
                        {
                            <div class="articlesIndexSingleImage" style="width: 38%; height: 100%; margin-bottom: 1em; position: relative; z-index: 5; overflow: hidden; float: left;">
                                <div class="bannerPanelImageContainer" style="width: 100%; height: 100%; text-align: center; margin: 0 auto; background-color: black; z-index: 1; overflow: hidden;">
                                    <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))' style="width: 100%; text-align: center; margin: 0 auto; z-index: 0; vertical-align: middle;" />
                                </div>
                                <div class="bannerPanelImageMain" style="width: 100%; height: 100%; text-align: center; margin: 0 auto; z-index: 3; overflow: hidden; position: absolute; top: 0;">
                                    <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))' style="height:100%; text-align: center; margin: 0 auto; z-index: 0; vertical-align: middle;" />
                                </div>
                                <div class="imageOverlayColor" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(0, 0, 0, 0.7); z-index: 2;"></div>
                            </div>
                        }
                    </a>
                    <div class="articlesIndexSingleBody" style="width: 62%; min-height: 100%; max-height: 100%; float: right; padding-left: 0.7em; position: relative;">
                        <a class="singleIndexAnchor" href="@HttpUtility.UrlDecode(Url.Action("Details", "Articles", new {@id = generalHelper.RemoveSpecialCharsFromString(item.Name)}))">
                            <div class="indexArticleTitle">
                                <div class="indexArticleTitleTopSection" style="width: 100%; padding-bottom: 1em;">
                                    <div class="articlesIndexSingleCategories" style="float: left;">
                                        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> @articleHelper.GetCategoryById(item.CategoryId).Name,
                                        @articleHelper.GetSubCategoryById(item.SubCategoryId).Name
                                    </div>
                                    <div class="articlesIndexSingleDate" style="float: right;">
                                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> @item.DateCreated.ToShortDateString()
                                    </div>
                                </div>
                                <h4 style="width: 100% !important; clear: both;">@item.Name</h4>
                            </div>
                        </a>
                            <hr style="border-color: crimson; margin: 1em;" />
                            <div class="articleIndexSingleText">
                                <div class="indexArticleBody">
                                    <p>@Html.Raw(WebUtility.HtmlDecode(item.Prelude))</p>
                                </div>
                            </div>
                            <div class="articlesIndexSingleFooter" style="background-color: black; color: white; width: 30%;border-radius: 30px 0 0 0; float: right;text-align: center;max-height: 1.5em;min-width: 6em;font-size: 1em; position: absolute; bottom: 0; right: 0;">
                                <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @userHelper.GetUserById(item.UserId).UserName</p>
                            </div>
</div>
                </div>
            }
        </ul>
</div>
    @Html.Partial("_SideBar")
    @*<div class="grid" style="width: 70%; float: left;">
        <ul class="content" style="padding-left: 0; margin-left: 0;">
            @foreach (var item in Model) {
                <div class="indexElement">
                    <div class="singleIndexArticle">
                        <a class="singleIndexAnchor" href="@HttpUtility.UrlDecode(Url.Action("Details", "Articles", new {@id = generalHelper.RemoveSpecialCharsFromString(item.Name)}))">
                            @if (articleHelper.GetImageByArticleId(item.Id) != null) {
                                <div class="indexArticleImage">
                                    <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))' style="width: 100%; text-align: center; margin: 0 auto;"/>
                                </div>
                            }
                            <div class="indexArticleText">
                                <div class="indexArticleTitle">
                                    <h2>@item.Name</h2>
                                    <div class="indexArticleDate">
                                        <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> @item.DateCreated</p>
                                        <p>
                                            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> @articleHelper.GetCategoryById(item.CategoryId).Name,
                                            @articleHelper.GetSubCategoryById(item.SubCategoryId).Name
                                        </p>
                                    </div>
                                </div>
                                <hr style="border-color: crimson"/>
                            </div>
                        </a>
                        <div class="indexArticleText">
                            <div class="indexArticleBody">
                                <p>@Html.Raw(WebUtility.HtmlDecode(item.Prelude))</p>
                            </div>
                        </div>
                        <div class="indexArticleFooter">
                            <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @userHelper.GetUserById(item.UserId).UserName</p>
                        </div>
                    </div>
                </div>
            }
        </ul>
    </div>*@
    <hr/>
    <div class="page_navigation" style="clear: both; margin-top: 3em; padding-top: 1em; width: 70%; float: left; border-top: 1px solid #2B823C"></div>
</div>

<script>
    $(document).ready(function() {

        // PACKERY
        var $grid = $('.grid').packery({
            // options
            itemSelector: '.singleIndexArticle',
            gutter: 13,
            percentPosition: true,
            transitionDuration: '0.1s'
        });


        $grid.imagesLoaded().progress(function() {
            $grid.packery();
        });


        $('#pager').pajinate({
            num_page_links_to_display: 3,
            items_per_page: 15
        });

        $(".page_navigation a").click(function() {
            $grid.packery();
        });

        $('.grid').jscroll({
            padding: 20,
            nextSelector: 'a.next_link',
            contentSelector: '.singleIndexArticle'
        });

        //setTimeout(function() {
        //    var spotWidgetTrackList = document.getElementsByClassName("track-list");
        //    spotWidgetTrackList.style.overflowY = "hidden";
        //}, 2000);
    });
</script>