@using ComX_0._0._2.Helpers
@model IEnumerable<ComX_0._0._2.Views.Articles.Models.DtoModels.IndexModelDto>

@{
    Layout = "~/Views/Articles/_Articles.cshtml";
    ViewBag.Title = "NekroPlaza - doświadcz dobroci";
    ViewBag.Description = "Najnowsze smakowitości, dobrocie najbardziej trendy, kontrowersje, wybuchy atomowych laserów i nieumarli - NEKROPLAZA.PL - zakosztuj dobroci.";
    var articleHelper = new ArticleHelper();
    var generalHelper = new GeneralHelper();
    var articles = Model.Where(x => x.IsDiary == false).OrderByDescending(x => x.DateCreation).ToList();
    var diaries = Model.Where(x => x.IsDiary).OrderByDescending(x => x.DateCreation).ToList();
}
@*<ul class="indexListMenu list-inline">
    <li><a class="indexListMenuItem" data-id="" href="#pager">Wszystkie</a></li>
    @foreach (var category in articleHelper.GetAllCategories().Take(6))
    {
        <li><a class="indexListMenuItem" data-id="@category.Id" href="#pager">@category.Name</a></li>
    }
</ul>*@
<div id="pager">
    <div class="articlesIndexHeader">
        <h3>POSTY:</h3>
    </div>
    <ul class="content articlesIndexTable" id="content">
        @foreach (var item in articles) {
            <div class="indexSingleArticleContainer col-md-6 col-sm-12" style="height: 16em; padding-left: 0; padding-right: 0; border: 1px solid #474a4f;">
                <a class="singleIndexAnchor" href="@HttpUtility.UrlDecode(Url.Action("Details", "Articles", new {@id = generalHelper.RemoveSpecialCharsFromString(item.Name)}))">
                    @if (articleHelper.GetImageByArticleId(item.Id) != null) {
                        <div class="articlesIndexSingleImage" style="width: 100%;">
                            <p class="bannerArticleTagsIndex"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> @articleHelper.GetCategoryById(item.Categories.Value).Name,
                                @articleHelper.GetSubCategoryById(item.SubCategories.Value).Name</p>
                            <div class="bannerPanelImageContainerIndex">
                                <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))'/>
                            </div>
                            <div class="bannerPanelImageMainIndex">
                                <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))'/>
                            </div>
                            <div class="imageOverlayColorIndex"></div>
                            <div class="bannerPanelInfoIndex">
                                @*@if (item.Series != Guid.Empty && articleHelper.GetSeriesById(item.Series.Value).Name != "Default"){
                                    <h3 class="bannerSeriesTitleIndex">@articleHelper.GetSeriesById(item.Series.Value).Name</h3>
                                }*@
                                <h3 class="bannerArticleNameIndex">@item.Name</h3>
                                @*<div class="datesDetailsArticlesIndex">
                                    <p>
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> @userHelper.GetUserById(item.UserId.Value).UserName &nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-time" aria-hidden="true"></span> @item.DateCreation &nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> @articleHelper.GetCategoryById(item.Categories.Value).Name,
                                        @articleHelper.GetSubCategoryById(item.SubCategories.Value).Name
                                    </p>
                                </div>*@
                                <hr class="articlesIndexLine"/>
                                <div class="bannerArticlePreludeIndex">
                                    @Html.Raw(WebUtility.HtmlDecode(item.IndexPrologue))
                                </div>
                            </div>
                        </div>
                    }
                </a>
            </div>
        }
    </ul>
    <hr/>
    <div class="page_navigation"></div>
</div>
<div class="indexDiary articlesIndexReviewsContainer">
    <div class="articlesIndexReviewsHeader">
        <h3>Z PAMIĘTNIKA PŁYTOHOLIKA:</h3>
    </div>
    <ul class="indexDiaryList">
        @foreach (var item in diaries) {
            <div class="indexSingleArticleContainerDiary col-sm-12">
                <a class="indexSingleDiaryAnchor" href="@HttpUtility.UrlDecode(Url.Action("Details", "Articles", new {@id = generalHelper.RemoveSpecialCharsFromString(item.Name), @isDiary = true}))">
                    @*<li>
                            <h4 class="indexDiaryName"># @item.Name</h4>
                        </li>*@
                    <div class="diaryNameContainer">
                        <h4 class="indexDiaryName"># @item.Name</h4>
                    </div>
                    <div class="bannerPanelImageContainerIndex">
                        <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))'/>
                    </div>
                    <div class="imageOverlayColorDiary"></div>
                </a>
            </div>
        }
    </ul>
    <div class="moreMusicReviews moreDiaries">
        <a class="seeMoreReviewsFromIndex seeMoreDiaries" href="@Url.Action("Diary", "Articles")">
            <p>Przejdź do pamiętnika <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></p>
        </a>
    </div>
</div>
<div class="articlesIndexReviewsContainer">
    <div class="articlesIndexReviewsHeader">
        <h3>OSTATNIE RECKI PŁYTOWE:</h3>
    </div>
    <div class="indexReviewsContainer">
        @foreach (var review in articleHelper.GetLastMusicReviews(8)) {
            <a class="indexSingleReviewAnchor" href="@HttpUtility.UrlDecode(Url.Action("Details", "Articles", new {@id = generalHelper.RemoveSpecialCharsFromString(review.Name)}))">
                <div class="indexSingleReview col-xs-4">
                    <div class="indexSingleReviewImageContainer">
                        <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(review.Id))'/>
                    </div>
                    <div class="indexReviewTitle">
                        <p>@review.Name</p>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="moreMusicReviews">
        <a class="seeMoreReviewsFromIndex" href="@Url.Action("Categories", "Articles", new {@id = "Recenzje", @subId = "Muzyka"})">
            <p>Zobacz wszystkie recki muzyczne <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></p>
        </a>
    </div>
</div>

@*SCRIPTS FOR VIEW*@
<script type="text/javascript" src="~/Views/Articles/Scripts/ArticlesIndex.js"></script>
<link href="~/Views/Articles/Styles/Index.css" rel="stylesheet" type="text/css" />