@using ComX_0._0._2.Helpers
@model IEnumerable<ComX_0._0._2.Models.Articles>

@{
    ViewBag.Title = "Index";
    var articleHelper = new ArticleHelper();
    var userHelper = new UserHelper();
}

<div id="pager" style="width: 100%;">
    <div class="grid" style="width: 70%; float: left;">
        <ul class="content" style="padding-left: 0; margin-left: 0;">
            @foreach (var item in Model) {
                <div class="indexElement">
                    <div class="singleIndexArticle">
                        <a  class="singleIndexAnchor" href="@Url.Action("Details", "Articles")?Id=@item.Id">
                            @if (articleHelper.GetImageByArticleId(item.Id) != null) {
                                <div class="indexArticleImage">
                                    <img src='@Url.Content(articleHelper.GetImageRelativePathByArticleId(item.Id))' style="width: 100%; text-align: center; margin: 0 auto;"/>
                                </div>
                            }
                            <div class="indexArticleText">
                                <div class="indexArticleTitle">
                                    <h2>@item.Name</h2>
                                    <div class="indexArticleDate">
                                        <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> @item.DateCreated</p>
                                    </div>
                                </div>
                                <hr style="border-color: crimson"/>
                            </div>
                        </a>
                        <div class="indexArticleText">
                            <div class="indexArticleBody">
                                <p>@Html.Raw(WebUtility.HtmlDecode(item.Prelude))</p>
                            </div>
                        </div>
                        <div class="indexArticleFooter">
                            <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @userHelper.GetUserById(item.UserId).UserName</p>
                        </div>
                    </div>
                </div>
            }
        </ul>
    </div>
    @Html.Partial("_SideBar")
    <hr/>
        <div class="page_navigation" style="clear: both; padding-top: 3em;"></div>
</div>

<script>
    $(document).ready(function() {

        // PACKERY
        var $grid = $('.grid').packery({
            // options
            itemSelector: '.singleIndexArticle',
            gutter: 13,
            percentPosition: true,
            transitionDuration: '0.1s'
        });


        $grid.imagesLoaded().progress(function() {
            $grid.packery();
        });


        $('#pager').pajinate({
            num_page_links_to_display: 3,
            items_per_page: 10
        });

        $(".page_navigation a").click(function() {
            $grid.packery();
        });

        $('.grid').jscroll({
            padding: 20,
            nextSelector: 'a.next_link',
            contentSelector: '.singleIndexArticle'
        });

        //setTimeout(function() {
        //    var spotWidgetTrackList = document.getElementsByClassName("track-list");
        //    spotWidgetTrackList.style.overflowY = "hidden";
        //}, 2000);
    });
</script>