@model ComX_0._0._2.Views.Account.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="changeUserPasswordContainer">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Formularz zmiany hasła:</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div className="form-group">
            <div className="col-md-offset-1 col-md-10">
                <b>OBECNE HASŁO:</b>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div className="form-group">
            <div className="col-md-offset-1 col-md-10">
                <b>NOWE HASŁO:</b>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div className="form-group">
            <div className="col-md-offset-1 col-md-10">
                <b>POTWIERDŹ HASŁO:</b>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="ZMIENIAMY!" class="btn nekrobutton-green btn-default" />
            </div>
        </div>
    }
</div>