@using ComX_0._0._2.Helpers
@using GridMvc.Html
@using GridMvc.Sorting
@model IEnumerable<ComX_0._0._2.Views.Articles.Models.ArticleCategories>

@{
    ViewBag.Title = "Kategorie || NekroPlaza - doświadcz dobroci";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserHelper userHelper = new UserHelper();
}
@if (userHelper.IsSuperAdminUser(User)) {
    <button type="button" class="btn btn-info btn-m" onclick="location.href = '@Url.Action("CategoriesCreate", "Configuration")'">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add category
    </button>
    <button type="button" class="btn btn-success btn-m" onclick="location.href = '@Url.Action("SubCategoriesCreate", "Configuration")'">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add subcategory
    </button>
}
<button type="button" class="btn btn-primary btn-m" onclick="location.href = '@Url.Action("SeriesCreate", "Configuration")'">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add series
</button>
<h2> Main categories:</h2>
<div class="col-xs-12 center-block">
    @Html.Grid(Model).Named("categoryGrid").Columns(columns => {
    columns.Add(o => o.Id, true);
    columns.Add(x => x.Name).SetWidth(200);
    columns.Add(x => x.SortCode).SortInitialDirection(GridSortDirection.Descending).SetWidth(60);
    columns.Add(x => x.Description).SetWidth(460);
}).WithPaging(20).Sortable(true).Filterable(true)
</div>
<h2> Sub categories:</h2>
@Html.Action("_SubCategories")
<h2> Series: </h2>
@Html.Action("_Series")

@*SCRIPTS FOR VIEW*@
<script type="text/javascript" src="~/Views/Configuration/Scripts/ConfigurationCategories.js"></script>







