@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    Layout = "~/Views/Configuration/_Configuration.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save changes" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@if (Model.Name != "User") {
    <button type="button" class="btn btn-danger .btn-sm popupRoleDelete" data-id="@Model.Id" href="#test-modal" style="padding-top: 1em; padding-right: 1em;">
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>Delete role
    </button>
}

<div id="test-modal" class="mfp-hide white-popup">
    <p>Potwierdź</p>
    <hr/>
    <p>Czy na bank chcesz usunąć tę rolę? (Wszystkie usery z niej wrócą do roli domyślnej)</p>
    <button type="button" class="btn btn-danger .btn-sm btnConfirmDeletion" id="commId">
        Ta!
    </button>
    <button type="button" class="btn btn-info .btn-sm btnCancelDeletion">Nope!</button>
</div>

<script>
    jQuery(document).ready(function($) {
        var roleIdentificator;
        $('.popupRoleDelete').magnificPopup({
            type: 'inline',
            preloader: false,
            modal: true
        });
        $('.popupRoleDelete').click(function () {
            roleIdentificator = $(this).data('id').toString();
        });
        $(document).on('click', '.btnConfirmDeletion', function(e) {
            e.preventDefault();
            $.magnificPopup.close();
            window.location.href = '@Url.Action("DeleteRole", "Configuration")?roleId=' + roleIdentificator;
        });
        $(document).on('click', '.btnCancelDeletion', function (e) {
            e.preventDefault();
            $.magnificPopup.close();
        });
    });
</script>
<style>
    .white-popup {
        position: relative;
        background: #FFF;
        padding: 40px;
        width: auto;
        max-width: 400px;
        margin: 20px auto;
        text-align: center;
    }
</style>
